.container {
    display: flex;
    justify-content: space-between;

    .info {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 30px;
    }
    .subscribe__btn {
        display: flex;
        align-items: center;
        height: 30px;
    }
}
.video__title {
    font-weight: 300;
    margin-top: 5px;
    padding: 0 0 5px 0;
}
